div.header
  div.title Robot Command Center

div
  canvas.map(id='map' width='400' height='400')

div.logHeader Log
div.content(id='log')
  div.log
    ul
      li(ng-repeat='line in log track by $index') {{line}}
    
div.footer
  form
    input(type='number' ng-model='goal_x')
    input(type='number' ng-model='goal_y')
    input(type='submit' value='Call Robot' ng-click='send_command("call robot")')
  form
    input(type='submit' value='Make Map' ng-click='send_command("make map")')
  form
    input(type='submit' value='Logout' ng-click='logout()')