html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1em;
  order: 0;
}

.logHeader {
  padding: 1em;
  order: 1;
}

.header > .title {
  font-size: 2em;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  order: 2;
  flex: 1;
  overflow-y: auto;
}

.log > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  padding: 1em;
  order: 3;
  display: flex;
  flex-direction: row;
}

.map {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  color: #00B7FF;
}
